*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.texte {
    margin-bottom: 40px;
    margin: 20px;
    font-family: "Caveat", cursive;
    font-size: 20px;
    display: flex;
    text-align: center;
    margin-left: 23%;
    width: 65%;
    padding: 23px;
    font-weight: bold;
}